<ion-content [fullscreen]="true">

  <ion-grid>

    <ion-row>
      <ion-col>
        <div class="rectangle-126">
          <ion-img class="backButton" src="assets/BackButton.svg"></ion-img>
        </div>
      </ion-col>
      <ion-col>
        <ion-img style="height: 40px;width: 120px;float:right;" src="assets/Logo_blue.png"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list class="textCenter noPadding">
          <ion-text>
            <h2><b>Thank You !</b></h2>
          </ion-text>
          <ion-text>
            <h6>We've let <b>Tanishq</b> know about your visit</h6>
          </ion-text>
        </ion-list>

        <ion-list>
          <ion-card style="margin: 0px 25px 0px 25px;">
            <ion-card-header style="padding: 10px 0px 10px 0px;background-color: #59e4c2;text-align: center;">
              <ion-card-title style="color: white;"><b>VISITOR PASS</b></ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-grid>
                <ion-row style="padding-top:15px">
                  <ion-col>
                    <div class="outer">
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <h2 class="textCenter"><b>Rishi Raj</b></h2>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="4">
                    <img width="60px" src="assets/scan.svg" />
                  </ion-col>
                  <ion-col size="8">
                    <h2 class="textRight">5:00 pm</h2>
                    <h2 class="textRight">Wed, 27 May 2020</h2>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="textCenter">
                    <div class="rectangle-23"></div>
                    <ion-text>
                      <h2>HOST : <b>Chinna Mastan</b></h2>
                    </ion-text>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row class="textCenter">
      <ion-col>
        <ion-text>
          <h6 style="color: #59e4c2;">The screen will close in 06 sec</h6>
        </ion-text>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>