.rectangle-126 {
  width: 50px;
  height: 55px;
  border-radius: 12px;
  border: solid 2px #59e4c2;
  background-color: #ffffff;
}

.backButton {
  width: 15px;
  height: 50px;
  margin-left: 14px;
  object-fit: contain;
}
