<ion-content [fullscreen]="true" class="heretosee">

    <ion-grid>
        <ion-row>
            <ion-col>
                <div class="rectangle-126">
                    <ion-img class="backButton" src="assets/BackButton.svg"></ion-img>
                </div>
            </ion-col>
            <ion-col>
                <ion-img style="height: 40px;width: 120px;float:right;" src="assets/Logo_blue.png"></ion-img>
            </ion-col>
        </ion-row>

        <ion-row style="margin-top: 20vh;">
            <ion-col>
                <ion-list lines="full" class="ion-no-margin ion-no-padding">
                    <ion-item>
                        <ion-label position="floating">Mobile</ion-label>
                        <ion-input clear-input="true"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Here to see ?</ion-label>
                        <ion-input clear-input="true"></ion-input>
                    </ion-item>
                    <ion-text style="padding-top:5px">
                        <ion-icon name="alert-circle-outline" style="color: #59e4c2;"></ion-icon>
                        <small style="padding-left: 10px;opacity: 0.6;">Enter the first two words to see the list.</small>
                    </ion-text>
                </ion-list>
            </ion-col>
        </ion-row>

        <ion-row style="margin-top: 30vh;">
            <div class="path-232">
                <h4 style="color: #1279ff;font-weight: bold;">Next</h4>
                <ion-img class="forwardButton" src="assets/ForwardButton.svg"></ion-img>
            </div>
        </ion-row>
    </ion-grid>

</ion-content>